.modal {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  opacity: 0;
  transition: all 250ms;
  width: 30rem;
  max-width: 90%;
  background: white;
  padding: 1rem;
  border-radius: 0.5rem;
  border: var(--border);
  box-shadow: var(--shadow);
}
  
  .modal > .modal-close {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border: 0;
    background: crimson;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal.active {
    top: 50%;
    opacity: 1;
  }